body{
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(129, 1, 214);
    text-align: center;
}
.container{
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 70px 0;
}
input{
    border: 2px solid black;
    padding: 4px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: rgba(120, 255, 47, 0.467);
    width: 100%;
    text-align: center;
}
#get{
    border: none;
    color: white;
    background-color: rgba(255, 0, 72, 0.666);
    border-radius: 20px;
    height: 30px;
    width: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#get:hover{
    background-color: rgba(255, 0, 72, 0.482);
}
.main{
    border: 2px solid black;
    padding: 20px;
    margin: 40px;
    background-color: white;
    color: dodgerblue;
}